* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
body {
    background-color: white;
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* aligns items to the left */
    padding: 20px 40px;
    padding-left: 80px; /* ✅ Shift everything to the right */
    background: white;
    position: absolute;
    width: 100%;
    z-index: 10;
    gap: 60px;
  }
  
.logo {
    font-size: 30px;
    font-weight: 700;
    margin-left: 60px;
    color: black;
    margin-right: 30px; /* spacing between logo and nav */
    text-shadow: 0px 1px 1px black;
}
.logo .highlight {
    color: #f9a825; /* yellow "T" */
}
.navbar {
    /* margin-top: 10px; */
    display: flex;
    align-items: center;
    gap: 40px; /* gap between nav list and search box */
    flex: 1;
    justify-content: space-between;
}
.navbar ul {
    display: flex;
    list-style: none;
    gap: 5px;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.navbar ul li a:hover {
    background-color: #f9a825; /* yellow background */
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.search-box {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
}
.search-box input {
    padding: 8px 14px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #ccc;
   
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}
  .search-box input:focus {
    border-color: #f9a825;
    box-shadow: 0 0 5px rgba(249, 168, 37, 0.4);
}
.btn {
    padding: 8px 14px;
    background-color: #f9a825;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color 0.3s;       
    border: 2px solid transparent;
}
  
.btn:hover {
    background-color: #e08e00;
}
/**home secion**/
.home{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/background\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    text-align: center;
    padding: 220px;
}
.content h4{
    color: white;
    font-weight: 550;
    font-size: 40px;
    text-shadow: 0px 1px 1px black;
}
.content h1{
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content: ' ';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "France";}
    10%{content: "Spain";}
    20%{content: "United States";}
    30%{content: "China";}
    40%{content: "India";}
    50%{content: "Pakistan";}
    60%{content: "Italy";}
    70%{content: "Turkey";}
    80%{content: "Mexico";}
    90%{content: "Germany";}
    100%{content: "United kingdom";}
} 
.content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.btn1{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    border: transparent;
}
.btn1:hover{
    background: #ffa500;
    color: white;
    border: transparent;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
/* Section Book Start */
.book{
    background: #f9f9f9;
    padding: 50px;
}
.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span{
    color: #ffa500;
}
.book .card{
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #ffa500;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px;
}
@media (max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding: 20px;
    }
}
/* Section Book End */

/* Section Packages Start */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #ffa500;
}
.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.packages .card img{
    border-radius: 5px;
}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body p{
    font-size: 15px;
}
.checked{
    color: #ffa500;
}
.star i{
    font-size: 15px;
}
.packages .card .card-body h6{
    font-size: 20px;
}
.packages .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: white;
    border-radius: 5px;
}

/* Section Services Start */
.services{
    background: #f9f9f9;
    margin-top: 50px;
}
.services .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}
.services .card i{
    font-size: 80px;
    text-align: center;
    color: #ffa500;
    margin-top: 20px;
}
.services .card .card-body h3{
    font-weight: 600;
}
.services .card .card-body{
    text-align: center;
}
/**gallery section**/
.gallary{
    margin-top: 50px;
}
.gallary .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}
/* About Start */
.about{
    padding: 50px;
    margin-top: 50px;
    background: #f9f9f9;
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-weight: 500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover{
    width: 170px;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/**footer**/
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #ffa500;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #ffa500;
}